@keyframes left-pop {
  from {
    transform: translate(-1000px);
  }
}
.animation-left-pop {
  animation: left-pop 900ms ease-in-out forwards;
}

@keyframes vibe {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.08);
  }
}
.vibe {
  animation: vibe 800ms ease infinite;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #111;
  padding: 0;
  margin: 0;
  color: white;
}

main {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 766px) {
  main {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 10px 1000fr 10px;
  }
}
@media (min-width: 1000px) {
  main {
    padding: 0 10rem;
  }
}

.volumeContainer {
  align-self: center;
}
@media (min-width: 766px) {
  .volumeContainer {
    display: grid;
    place-self: center;
  }
}
.volumeContainer .volume {
  width: 100%;
}
@media (min-width: 766px) {
  .volumeContainer .volume {
    width: 30vh;
    grid-template-columns: 10px 1000fr;
    position: relative;
    transform-origin: bottom;
    left: 19px;
    transform: rotate(-90deg);
  }
}

.musicPlayerContainer {
  width: 100%;
}
.musicPlayerContainer .musicPlayer {
  padding: 2rem 10vw;
}
.musicPlayerContainer .musicPlayer .musicDetails .cover {
  margin: 0 auto;
  transition: all ease 300ms;
  background: url("./Img/Sanity.png") center center/cover no-repeat;
  height: 200px;
  width: 200px;
  border-radius: 10%;
}
@media (min-width: 768px) {
  .musicPlayerContainer .musicPlayer .musicDetails .cover {
    height: 400px;
    width: 400px;
  }
}
.musicPlayerContainer .musicPlayer .musicDetails .title {
  text-align: center;
  color: #fca111;
  font-style: italic;
  font-weight: 900;
}
.musicPlayerContainer .musicPlayer .IDK {
  display: grid;
  grid-template-columns: 1fr 1000fr 1fr;
  align-items: center;
  column-gap: 0.4rem;
}
.musicPlayerContainer .musicPlayer .IDK .musicCurrentTimer, .musicPlayerContainer .musicPlayer .IDK .musicEndTimer {
  font-size: 0.9rem;
}
.musicPlayerContainer .musicPlayer .IDK .progressBarContainer, .musicPlayerContainer .musicPlayer .IDK .progressBarContainer .progressBar {
  background-color: #777;
  border-radius: 1rem;
  height: 10px;
  width: 100%;
}
.musicPlayerContainer .musicPlayer .IDK .progressBarContainer .progressBar {
  background-color: #fca111;
  width: 0%;
}
.musicPlayerContainer .musicPlayer .controls {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.musicPlayerContainer .musicPlayer .controls div {
  padding: 1rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .musicPlayerContainer .musicPlayer .controls div {
    padding: 0.5rem;
  }
}
.musicPlayerContainer .musicPlayer .controls div:active {
  transform: scale(1.2);
}
.musicPlayerContainer .musicPlayer .controls div svg {
  fill: #fca111;
  width: 30px;
  height: 30px;
}
@media (max-width: 768px) {
  .musicPlayerContainer .musicPlayer .controls div svg {
    width: 20px;
    height: 20px;
  }
}
.musicPlayerContainer .musicPlayer .controls .forward svg {
  transform: rotate(180deg);
}
.musicPlayerContainer .musicPlayer .controls .playStopLoopCombo {
  padding: 0;
  display: flex;
  flex-direction: row;
}
.musicPlayerContainer .musicPlayer .controls .playStopLoopCombo:active {
  transform: none;
}

/*# sourceMappingURL=main-style.css.map */
